.App {
  text-align: center;
  width: 80%;
  margin: auto;
  height: 70vh;
  border: 1px solid black;
}

.counter {
  height: 30%;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}

.extra {
  width: 80%;
  margin: auto;
  border: 1px solid black;
}
